
<div id="principales" class=border border-succes>

    <form method = "post" action="#">
        <h2>Registrarse</h2>
        <ul>
            <li>
        <label >Correo:</label>
        <input type="text" />
            </li>
        <li>    
        <label >Nombre de usuario:</label>
        <input type="text" />
        </li>
        <li>
        <label >Contraseña:</label>
        <input type="password" />
        </li>
        <li>
        <label >Repetir contraseña:</label>
        <input type="password" />
        </li>
        <li>
        <button class="btn btn-primary" type="commit">Registrarse</button>
        </li>
        </ul>
    </form>
    
    
    </div>