
<div >
     <div>
           <h1>{{title}}</h1>
    </div>
    <div>
        <h2>pic = {{backdrop_path}}</h2> 
    </div>
    <div>
        <h2>Gender:{{genres}}</h2>
    </div>
    <div>
        <h2> Lenguaje Original: {{language}}</h2>
    </div>
    <div>
        <h2>budget: {{budget}}</h2>
    </div>
    <div>
        <h2>Description: {{overview}}
        </h2>
    </div>
    <div>
        <h2>Popularity: {{popularity}}</h2>
    </div>
    <div>
        <h2>Production Companies: {{production_companies}}</h2>
    </div>
    <div>
        <h2>Release date: {{release_date}}</h2>
    </div>
    <div>
        <h2>Status: {{status}}</h2>
    </div>
</div>



