<div>
    <div>
        <h1>Superman</h1>
    </div>
    <div>
        <img src="https://lumiere-a.akamaihd.net/v1/images/image_bf2c13ad.jpeg">
    </div>
    <div>
        <h2>Género: Acción, Ciencia ficción, Superhéroes.</h2>
    </div>
    <div>
        <h2> Lenguaje Original: {{language}}</h2>
    </div>
    <div>
        <h2>Presupuesto: $55 millones</h2>
    </div>
    <div>
        <h2>Descripción: The Movie o simplemente Superman es una película del género de superhéroes estrenada en 1978 y dirigida por Richard Donner, basada en el personaje homónimo de DC Comics.
            Muestra el origen de Superman, desde su infancia como Kal-El en Krypton y sus años de juventud en la ciudad rural de Smallville.
        </h2>
    </div>
    <div>
        <h2>Rating de popularidad: 23%</h2>
    </div>
    <div>
        <h2>Compañías de producción: Dovemead
            Film Export A.G.
            International Film Productions</h2>
    </div>
    <div>
        <h2>Fecha de lanzamiento: 05 de Marzo de 2021</h2>
    </div>
    <div>
        <h2>Estado de la película: In production</h2>
    </div>
</div>
