

<div id="principales" class=border border-succes>

    <form method = "post" action="#">
        <ul>
        <h2 >Crear reserva</h2>

        <li>
        <label >Buscar nombre de película: </label>
        <input type="text" />
        </li>
        <li>
        <label >Cantidad de boletos que desea:</label>
        <input type="text" />
        </li>
        <li>
        <button class="btn btn-primary" type="commit">Crear reserva</button>
            </li>
    </ul>
    </form>
    
    
    </div>